/* Custom CSS Styles */
:root {
  --primary-color: #355c7d;
  --secondary-color: #6b5b95;
  --bg-color: #bbe4e9;
  --text-color: #032a33;
  --primary-font: Verdana, Geneva, Tahoma, sans-serif;
  --secondary-font: 'Fira Sans Condensed', sans-serif;
}

.dark-mode {
  --primary-color: #6b5b95;
  --secondary-color: #bbe4e9;
  --bg-color: #37353e;
  --text-color: #A0A0A0;
}

html {
  font-size: 15px;
}

body {
  background-color: var(--bg-color);
  font-family: var(--secondary-font);
  color: var(--secondary-color);
}

p {
  font-size: 1rem;
  color: var(--text-color);
  margin-bottom: 1.3rem;
  font-family: var(--primary-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1.3rem;
}

img {
  max-width: 100%;
  height: auto;
}

.text-sun {
  color: #f5b027;
}

a.logo {
  font-size: 1.8rem;
  font-weight: 800;
  color: var(--text-color);
  text-decoration: none;
}

.section-container {
  padding: 50px 0;
}

.section-header {
  text-transform: capitalize;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 800;
  color: var(--text-color);
  margin-bottom: 1.5rem;
}

.notes-container {
  overflow: auto;
  border: 2px solid gray;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.input-form-control {
  width: 200px;
}

/* Footer Styles */
footer {
  padding: 35px 0;
}

.footer p {
  color: var(--text-color);
}

/* ------------------------------------
----------- Responsive Design ---------
--------------------------------------*/

@media screen and (min-width: 576px) and (max-width: 767.98px) {
  html {
    font-size: 16px;
  }

  p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 1.5rem;
  }

  a.logo {
    font-size: 1.8rem;
  }

  .section-container {
    padding: 60px 0;
  }

  .notes-container {
    padding: 10px;
    margin: 10px;
  }

  .input-form-control {
    width: 400px;
  }

  footer {
    padding: 40px 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
  html {
    font-size: 16px;
  }

  p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 1.5rem;
  }

  footer {
    padding: 50px 0;
  }

  a.logo {
    font-size: 1.8rem;
  }

  .section-container {
    padding: 80px 0;
  }

  .notes-container {
    padding: 15px;
    margin: 20px;
  }

  .input-form-control {
    width: 400px;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 18px;
  }

  p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 1.5rem;
  }

  footer {
    padding: 70px 0;
  }

  a.logo {
    font-size: 2rem;
  }

  .section-container {
    padding: 100px 0;
  }

  .section-header {
    font-size: 2rem;
  }

  .notes-container {
    padding: 20px;
    margin: 30px;
  }

  .input-form-control {
    width: 400px;
  }
}
